.dan-next { width: 33%; float: left; }
.dan-prev { width: 33%; float: right; }
.dan-comments { clear: both; padding-top: 0.5em; font-size: 90% }
.dan-gravatar { float: left; max-width: 40px; padding: 0.25em }
.dan-comment-date { color: #a0a0a0 }
.dan-comment-body { clear: both }
.dan-author { color: black; font-size: 90% }
.dan-quoted-text { color: #606060 }
.dan-pubdate { color: #a0a0a0; font-size: 90% }
.dan-bulleted-text { display: list-item; margin-left: 2em }
